<!-- Validation failure messages -->
<% if @baby.errors.any? %>
  <% @baby.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Baby #<%= @baby.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_baby/<%= @baby.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @baby.name %>">
      </div>

      <!-- Label and input for birthdate -->
      <div class="form-group">
        <label for="birthdate" class="control-label">
          Birthdate
        </label>



        <div class='input-group date' id='datetimepicker1'>
            <input type="text" id="birthdate" name="birthdate" placeholder="Birthdate" class="form-control" value="<%= @baby.birthdate.strftime('%B %e, %Y') %>">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>




      <button class="btn btn-warning">
        Update Baby
      </button>
      or
      <a href="/babies/<%= @baby.id %>">Cancel</a>
    </form>
  </div>
</div>

<script type="text/javascript">
  $(function () {
    $('#datetimepicker1').datetimepicker();
  });
</script>
