<div class="page-header">
  <h3>Resource #<%= @resource.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Resource summary</dt>
      <dd><%= @resource.resource_summary %></dd>

      <dt>Issue</dt>
      <dd>
        <% if @resource.issue.present? %>
          <a href="/issues/<%= @resource.issue_id %>">
            <%= @resource.issue.issue_summary %>
          </a>
        <% end %>
      </dd>

      <dt>Resource url</dt>
      <dd><%= @resource.resource_url %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/resources" class="btn btn-primary">
        Back
      </a>
      <a href="/resources/<%= @resource.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_resource/<%= @resource.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
